# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon files
Icon
Icon\r

# Thumbnails
._*

# Files that might appear in a macOS system
.DS_Store?
._*
.Spotlight-V100
.Trashes
.Trash-*
.fseventsd

